
<div class="col-md-8">
	<div class="letter-output">
		<p>Dear <%= @letter.properties["company"] %> Team,<p>
			<br>

		<p>I am interested in being considered for the <%= @letter.properties["position"] %> position. My previous experience as a <%= @letter.properties["background"] %> make me an excellent candidate. I am <%=@letter.properties["one_word"] %>, and have so much to offer <%=@letter.properties["company"] %>. <p>

	
		<p>My skills include <%=@letter.properties["skill1"] %>. <%= @letter.properties["education"] %>.
		 <%=@letter.properties["interest"] %>. contribute to a <%=@letter.properties["companydoes"] %>.</p> 


		<p>I look forward to learning more about the position. Please contact me with any questions you may have, or to arrange an interview. I would be grateful for the opportunity to speak with you.</p>
		<br>

		<p>Thank you,</p> 

		<br>
		<br>
		<% if user_signed_in? %> 
		<%= current_user.full_name %>

		<% end %>
	</div>
</div>

