
<div class="col-md-8">
	<div class="letter-output">
		<p>I noticed that you <%= @letter.properties["origin"] %>. I think that’s really cool. I <%= @letter.properties["common_ground"] %> .  It seems like we could have a lot to talk about.</p>

		<p>What do you think about <%= @letter.properties["interest"] %> ?</p>

		<p><% if user_signed_in? %> 
		<%= current_user.first_name %>

		<% else %>
		<li><%= link_to "Get Signature", new_user_registration_path, :remote => true, 'data-toggle' => "modal", 'data-target' => "#ajax-modal-2", 'data-type' => "html" %></li> 

		<% end %>
		</p>
	</div>
</div>
