<div class="container">
  <div class="form_body">


<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <h2 class="header_text">Edit <%= resource_name.to_s.humanize %></h2>

  <fieldset class="fieldset">
    <legend>You</legend>
    <%= f.input :first_name, autofocus: true  %>
    <%= f.input :last_name %>
    <%= f.input :profile_name %> 
    <%= f.input :email %>
    

    <legend>Optional</legend>
    <%= f.input :age, collection: 18..60, prompt: "Select your age" %>
 
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  </fieldset>

  <fieldset class="fieldset">
    <legend>Change Password</legend>
    <%= f.input :current_password, autocomplete: "off" %><i>(we need your current password to confirm your changes)
    <%= f.input :password, autocomplete: "off" %><i>(leave blank if you don't want to change it)</i>
    <%= f.input :password_confirmation, autocomplete: "off" %>
    </i>
  </fieldset>

  <div>
    <%= f.submit "Update" %>
  </div>
<% end %>


<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>



  </div>
 </div> 
