  <div id="fullpage">
  <div class="section">
      <div class="cover-image">
       <div class="container">
        <div class="row">
          
            
               <div class="col-xs-12 col-md-12"> 
                   <%=image_tag 'baby.png', :class => "cover" %>
              </div>
          
            
              <div class="justify">
                <h2><a data-menuanchor="SecondPage" href="#secondPage"><span>WRITE</span></a> ||    <span><%= link_to "SIGN UP", new_user_registration_path, :remote => true, 'data-toggle' => "modal", 'data-target' => "#ajax-modal-2", 'data-type' => "html" %></span> || <a data-menuanchor="3rdPage" href="#3rdPage"><span>LEARN MORE</span></a></h2>
                  <br>
                
              </div>
          </div><!-- row -->
        </div><!-- container -->
      </div><!-- cover-image -->
    </div><!-- section -->
       

      <div class="section"> 
        <section class="white-wrapper">
              <div class="container">
                <div class="row" id="personal_row">
                  <div class="col-xs-10">
                    <div class="title-here">
                      <h1> Pick what type of message you want to send.<span class="icon-color"><i class="fa fa-arrow-circle-o-down"></i></span></h1>
                    </div><!--end title -->
                      <div class="inner-logo-column">
                      <% @letter.each do |letter| %>
                        <div class= "letter">
                          
                        </div>
                      <% end %>
                      </div> <!--end col-md -->
                    </div> <!--end row --> 
                    <div class="row">
                      <div class="col-xs-6 col-md-4 col-md-offset-5">
                        <%= form_tag new_letter_path, method: :get, :class => "letter-form" do %>
                          <div class="select-tag">
                            <%= select_tag :letter_type_id, options_from_collection_for_select(LetterType.all, :id, :name), { :class => 'select-tag' } %>
                          </div>
                      </div>
                    </div><!--end select tag -->
                    
                    <div class="row">
                         <ul style="list-style:none;">
                          <li><div class= "col-xs-6 col-md-4 col-md-offset-5"><%= submit_tag "Let's go!", :class => "business-submit" %>
                          </div></li>
                        </div>
                        <div class="row">
                          </ul> 
                          <br>
                           <ul style="list-style:none;">
                          <li><div class="col-xs-12 col-md-8 col-md-offset-4"><span id="element" class="element2"></span></div></li>
                          </ul>
                   
                        <% end %>  
                  </div><!-- end innter column -->        
            </div><!-- end container -->
        </section><!-- end white -->
      </div>

 
     <section class="green-wrapper"> 
      <div class="container">
        <div class="row" id='icons'>
          <ul class="icons">
          <li>
            <div class="col-xs-6 col-md-4"><i class="fa fa-briefcase fa-5x"></i>
            <h3>Network.</h3>
            <p>Ghostwrite.io can help you meet new people in your field, or in the field you'd like to work in.</p>
            </div>
          </li>
          <li>
            <div class="col-xs-6 col-md-4"><i class="fa fa-heart-o fa-5x"></i>
              <h3>Meet New People.</h3>
              <p>Or get back in touch with old friends. We'll give you the extra confidence. </p>
            </div>
          </li>
          <li>
            <div class="col-xs-6 col-md-4"><i class="fa fa-gavel fa-5x"></i><h3>Be heard!</h3>
            <p>Write your senator or state official quickly and cleanly. Power to the people.</p>
            </div>
          </li>
        </div>
      </div>
    </section>
  
           
        
        
        

      
        
      <div class="section"> 
        <section class="white-wrapper-about">
          <div class="container">
            <div class="row">
             <div class="col-xs-8 col-md-10 col-md-offset-1">
                       <div class="title">
                          <h1 class="section-title">
                              ABOUT GHOSTWRITE.IO
                          </h1><!-- end section-title -->
                      </div>
                      
                     
                      <p>  Ghostwrite.io is the app that helps you write difficult messages, like cover letters and networking emails, or edit and proofread your big application.</p>

                      <br>

                      <p>Write a better cover letter in less time. Generate a sympathy note you'd otherwise be uncertain about sending. Learn how to write a networking email. Ghostwrite.io guides you step by step, and you have a finished product after answering just a few questions.  </p>
                      <br>
                       
                      <br>

                      <p>Ghostwrite.io's mission is to make communication easier. You can enhance both personal relationships and professional interactions with Ghostwrite.io.</p>
                      <br>

                      <p> Say what you mean. Ghostwrite.io will pull out the best in you, so you can communicate better.</p>
                      <br>

                      <p>This product is in development - please forward any feedback.</p> 
                      <br>
                    </div>
                  </div>
                </div>
              </div>
            </section> 
              <br>
              <section class="green-wrapper">
                <div class="container">
                 <div class="row">
                   <ul class="icons">
                    <li><div class="col-xs-6 col-sm-2 col-sm-offset-3">
                    <a href="https://twitter.com/alik5"><i class="fa fa-twitter fa-4x"></i></a>
                    </div></li>
                    <li><div class="col-xs-6 col-sm-2">
                    <a href="https://www.facebook.com/ghostwriteio?ref=aymt_homepage_panel"><i class="fa fa-facebook fa-4x"></i></a>         
                    </div></li>
                    <li><div class="col-xs-6 col-sm-2">
                    <a href="https://www.youtube.com/watch?v=_ZfFO1uAQlU"><i class="fa fa-youtube-play fa-4x"></i></a>
                    </div></li>
                  </ul>
                 </div>           
              </div><!-- end container -->
            </section>
           
         <br>
         <br>

        <footer class="footer clearfix">
            <div class="container">
                <div class="title">
                <h3 class="section-title">
                    GET IN TOUCH
                </h3><!-- end section-title -->
                <p class="lead">Question or comments contact <br>
                 <strong>alikfitz@gmail.com</strong></p>
                </div>
                <div class="row text-center">
                    <div class="col-lg-4">
                        <div class="widget wow fadeIn borderright">
                            <h3 class="section-sub-title"><i class="icon-phone"></i>Not A Phone #</h3>
                            <p class="lead"><i class="fa fa-smile-o fa-2x"></i></p>
                        </div><!-- end widget -->
                    </div><!-- end col-lg-4 -->

                    <div class="col-lg-4">
                        <div class="widget wow fadeIn">
                            <h3 class="section-sub-title"><i class="icon-map"></i> Address</h3>
                            <p class="lead">Somerville, MA</p>
                        </div><!-- end widget -->
                    </div><!-- end col-lg-4 -->
                    
                    <div class="col-lg-4">
                        <div class="widget wow fadeIn borderleft">
                            <h3 class="section-sub-title"><i class="icon-mail"></i> Email</h3>
                            <p class="lead">ghost@ghostwrite.io</p>
                        </div><!-- end widget -->
                    </div><!-- end col-lg-4 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </footer><!-- end footer -->

        <section class="copyrights text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="footer-menu">
                            <ul class="list-inline">
                                <li><a href="index.html" title=""><i class="icon-home"></i> Home</a></li>
                                <li><a href="typography.html" title="">About</a></li>
                                <li><a href="shortcodes.html" title="">Contact</a></li>
                                <li><a href="404.html" title="">Not Found</a></li>
                            </ul>
                        </div><!-- end footer-menu -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end conpyrights -->
    </div><!-- end wrapper -->


<!-- Session Modal -->
<div id="dialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
   <div class="modal-content" id="modal-content">
    <div class='modal-header'>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h1 class="modal-title" id="myModalLabel">Oh, Hi!</h1>
      <h2 class="modal-title" id="myModalLabel"> Welcome to Ghostwrite.io ></h2>
       <div class="modal-body" id="modal-content">
        <h2> To get started > </h2>
        <ul>
          <li><h3>1. Scroll to pick a category <span>></span></h3></li>
          <li><h3>2. Select what type of message you want to send <span>></span></h3></li>
          <li><h3>3. Answer a few questions <span>></span></h3></li>
          <li><h3>4. Your message will appear!</h3></li>
          <span style="float:right;"> - ghost </span>
        </ul>
      </div>
        <div class="modal-footer">
          <h4> I'm so excited to help you!</h4>
           <button type="button" class="btn btn-default" data-dismiss="modal">Get Going</button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>


  

