
<div class="col-md-8">
	<div class="letter-output">
		Dear <%= @letter.properties["company"] %> Team,
		<br>
		<br>
		<br>
		I’m interested in applying for the <%= @letter.properties["position"] %>position. I heard about the position <%= @letter.properties["origin"] %>and think my past experience as <%= @letter.properties["last_job"] %> makes me a great candidate. I have <%= @letter.properties["skill1"] %> and <%= @letter.properties["skill2"] %> and have a lot of interest in <%= @letter.properties["interest"] %>. 
		<br>
		<br>
		I am <%= @letter.properties["one_word"] %>, and very excited about<%= @letter.properties["company"] %>and what I can contribute as <%= @letter.properties["position"] %>.  
		<br>
		<br>

		I look forward to learning more about the position. I will follow up next week to confirm you've received my application. 
		<br>
		<br>
		Thank you for your consideration,
		<br>
		<br>
		<% if user_signed_in? %> 
		<%= current_user.full_name %>

		<% end %>
	</div>
</div>



