<%= simple_form_for(@letter, :html => { class: "form-horizontal", :multipart => true }) do |f| %>
   <%= f.input :letter_type %>
  
   <%= f.fields_for :questions do |builder| %>
   	<%= render 'question_fields', f: builder %>
   	<% end %>
   <div class="actions"><br />
   <%= f.submit %>
	</div>
  

<% end %>