<%= form_for(@letter) do |f| %>
  
  <%= f.hidden_field :letter_type_id %>

   <div class="form-inputs">
    <%= @letter.name %>
  </div>

<%= f.fields_for :properties, OpenStruct.new(@letter.properties) do |builder| %>
  <% @letter.letter_type.fields.each do |field| %>
    <%= render "letters/fields/#{field.field_type}", field: field, f: builder %>
  
  <% end %>
<% end %>

<% end %>

