<div class="container">
   <div class="row"> 
        <div class="form_body">

<%= simple_form_for(@letter, html: {class: "form-horizontal"}) do |f| %>
<h2 class= "header_text">Cover Letter</h2>
  <fieldset class="fieldset">

<%= f.input :letter_type %>
<%= f.input :self_description %>
<%= f.input :formal %>
<%= f.input :long %>
<%= f.input :qualification_level,
 :as => :grouped_select,
 :collection => Proc.new { [['Level', ['Very Qualified', 'Qualified', 'Bit of a Stretch', 'Maybe', 'Not at All' ]]] },
 :group_method => :last %>
<%= f.input :user_comments %>


<%= link_to 'Custom Modal', custom_modal_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>


</fieldset>

<% end %>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<%= render 'letters/custom_modal' %>
</div>

	</div>
  </div>
</div>




  

  