<div class="backend">

<%= simple_form_for(@letter, :html => { class: "form-horizontal", :multipart => true }) do |f| %>
<h2 class= "header_text">Letter</h2>
  <fieldset class="fieldset"> 	

  	 <%= @letter.letter_type.letter_fields.each do |x| %>
  
	<%= render 'form' %>

	<%= f.submit %> </br>

	<%= f.file_field :photo %>

	</div>		

	<% end %>

<% end %>

  

  