<p> New Custom Letter </p>

<p>Hi *|first_name|*,</p>

<body>
	<%= @ghostwrite.title %>

	<%= @ghostwrite.string %>

	<%= @ghostwrite.content %>

	<%= @ghostwrite.text_box %>

	<%= @ghostwrite.photo.url %>
</body>
 
