<p> New Custom Letter </p>

<p>Hi *|first_name|*,</p>

<body>
	<%= @ghostwrite.title %> <br>

	<%= @ghostwrite.string %> <br>

	<%= @ghostwrite.content %> <br>

	<%= @ghostwrite.wisi_box %> <br>

	<%= @ghostwrite.photo.url %> <br>
</body>
 
