
<%= simple_form_for(@ghostwrite, html: {class: "form-horizontal", :multipart => true })  do |f| %>
  <% if @ghostwrite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ghostwrite.errors.count, "error") %> prohibited this ghostwrite from being saved:</h2>

      <ul>
      <% @ghostwrite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <h1>Custom Letter</h1>
 

  <%= f.input :title, placeholder: "Your Name" %>
  <%= f.input :string, placeholder: "Your Email" %>
  <%#= f.input :text_box, label: false, placeholder: "DESCRIBE OR PASTE WHAT YOU WOULD LIKE HERE..." %> 
  <%= f.input :text_box, as: :wysihtml5 %>
  <p> Attach Resume/Application/Drafts here: </p>
  <%= f.file_field :photo %>
 <br> 
 <br>  
 <%= f.submit "Create Message" %>

    
 

</fieldset>
<% end %>







