<div class="backend">
<%= simple_form_for(@ghostwrite, html: {class: "form-horizontal", :multipart => true })  do |f| %>
  <% if @ghostwrite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ghostwrite.errors.count, "error") %> prohibited this ghostwrite from being saved:</h2>

      <ul>
      <% @ghostwrite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <h1>Custom Letter</h1>
 

  <%= f.text_field :title, placeholder: "Your Name" %>
  <%= f.input :text_box, label: false, placeholder: "Paste what you want to be ghostwritten here..." %> 
   <%= f.file_field :photo, id:"pdf" %>
  
   
 <%= f.submit "Create Message" %>

    
 

</fieldset>
<% end %>
</div>


