
<%= simple_form_for @ghostwrite, input_html: {class: 'span3'}, wrapper_html: {class: 'controls controls-row'} do |f| %>
  <% if @ghostwrite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ghostwrite.errors.count, "error") %> prohibited this ghostwrite from being saved:</h2>
      <ul>
      <% @ghostwrite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="container">
     <div class="row">
      <%= image_tag "Custom-Type.png", :class => "header-logo" %>
        <div class="col-xs-6">
          <ul class="ghostwrite-input-list">
            <li><%= f.input :title, placeholder: "name" %></li>
            <li><%= f.input :string, placeholder: "email" %></li>
            <li><%= f.input :content, placeholder: "due date" %></li>
          </ul>
          </div>
            
          
        <div class="col-xs-6">
          <div class="hint-box">
            <h3>Describe what you want to be written or attach it below.</h3><br>
            <span><i class="fa fa-arrow-circle-o-down fa-3x"></i></span>
          </div>
          <div class="paperclip">
            <p> Attach Resume/Application/Drafts here: </p>
            <p></i><%= f.file_field :photo %></p>
          </div>
        </div>
    </div>
    <% end %>
     
  
  <div class="row">
    <div class="col-xs-12">
      <div class="form-body">
        <%= form_for @ghostwrite do |f| %>
          <%= f.bootsy_area :wisi_box %>
      </div>
      
          <div class="green">
            <%= f.submit "Create" %>
          </div>  
          <% end %>  
    </div>
  </div>
  

    









