<p> Create </p>

<%= @ghostwrite.title %>

<%= @ghostwrite.text_box %>

<%= ghostwrite.photo.url(http://bucket.s3.amazonaws.com/…) %>

<%= submit_tag "Create Message" %>
<%= link_to 'Back', ghostwrites_path %>

