

<body>
 <div class= 'ghostwrite_body'>
    <div class = "instructions">
      <li><%= image_tag "logo2.png", class: "logo-img-all"%></li>
      <span class = "element"></span>
    </div>
      <% @ghostwrites.each do |ghostwrite| %>
        <div class="ghostwrite">
          <%= link_to "Post a New Resume", new_ghostwrite_path, class: "btn btn-info" %></br>
          <strong><%= ghostwrite.title%></strong>
           <p><%= ghostwrite.content%></p>
            <div class="meta">
              <%= link_to time_ago_in_words(ghostwrite.created_at) + " ago", ghostwrite %>
            <span class="admin">
            |<%= link_to "Edit", edit_ghostwrite_path(ghostwrite) %> |
            <%= link_to "Delete", ghostwrite, method: :delete, data: { confirm: "Are you sure you want to delete?"} %>
           </span>
            </div>
        </div>

    </div>
</body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<%end%>
  <footer>
    <div class= "container" id="wrap">
      <p>Copywrite Ghostwrite.io<p>
    </div>  
</footer>
