<div class="container-fluid">
  <div class="row">
  	 <h1> CONFIRMATION </h1>
	   <div class="col-md-12">
	   		<div class="col-md-6">
				<ul class="confirmation-list">

					<li><h2><%= @ghostwrite.title %></h2></li>

					<li><h3><%= @ghostwrite.string %></h3></li>

					<li><h3><%= @ghostwrite.content %></h3></li>

				</ul>
			</div>
			<div class="col-md-6">
				    <%= link_to "My Attachment", @ghostwrite.photo.url %>
				   	<p><%= @ghostwrite.wisi_box %></p>
			</div>

		</div>

		<div class="col-md-4">
			<%= render "charges/form" %>
		</div>
		<div class="col-md-4">
			<%= render "charges/form" %>
		</div>
		<div class="col-md-4">
			<%= render "charges/form" %>
		</div>
	</div>
</div>

	
	
