<p> Show </p>

<%= @ghostwrite.title %>

<%= @ghostwrite.text_box %>

<%= image_tag @ghostwrite.photo.url %>
<%= link_to "View Annual Report", download_photo_path(@ghostwrite) %>

<%= mail_to "alikfitz@gmail.com" %>


<%= link_to 'Edit', edit_ghostwrite_path(@ghostwrite) %> |
<%= link_to 'Back', ghostwrites_path %>
