<p> Show </p>

<%= @ghostwrite.title %>

<%= @ghostwrite.text_box %>


<div>
   
    <%= link_to "My Attachment", @ghostwrite.photo.url %>

</div>

<div class="payment">

<%= render 'charges/form' %>

<div>


<%= link_to 'Edit', edit_ghostwrite_path(@ghostwrite) %> |
<%= link_to 'Back', ghostwrites_path %>
