<p> Show </p>

<%= @ghostwrite.title %>

<%= @ghostwrite.text_box %>


<% if ghostwrite.photo.photo_content_type == 'application/pdf' %>
   <iframe src=<%= @ghostwrite.photo.url(:original) %> frameborder="0"></iframe>
<% else %>
    <%=  image_tag(ghostwrite.photo.url(:original)) %>
<% end %>



<%= mail_to "alikfitz@gmail.com" %>


<%= link_to 'Edit', edit_ghostwrite_path(@ghostwrite) %> |
<%= link_to 'Back', ghostwrites_path %>
