<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" 
aria-hidden="	true">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-body">	

  <h2>Sign up</h2>

  <%= simple_form_for(:user, :url => session_path(:user)) do |f| %>
  <%= f.text_field :first_name, label: 'First Name' %>
  <%= f.text_field :last_name, label: 'Last Name' %>
  <%= f.text_field :profile_name, label: 'Profile Name' %>
  <%= f.text_field :email %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation, autocomplete: "off" %>
  <%= f.submit 'Sign up' %>
<% end %>

 

     </div>
    </div>
  </div>
</div>

