<!DOCTYPE html>
<html>
<head>
  <title>GhostwriteIo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway', :media => "all" %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Merriweather', :media => "all" %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Calligraffitti', :media => "all" %>
  <%= stylesheet_link_tag 'application', "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_tag "window.locale = #{I18n.locale.to_s.inspect};" %>
  <meta name="google-site-verification" content="BIiuu5sNm_ffncymTGcAzGKR_t-kOo3U4jN8sgwDk9U" />

  
 


  <%= csrf_meta_tags %>
</head>
 <body>
   <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="menu-wrapper">
                <div class="container">
                  <nav>
                    <div class="masthead-clearfix">
                        <div class="inner">  
                          <div class="navbar-header">
                           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-menu-3"></span>
                            </button> 
                            <h3 data-mehuanchor="firstPage"><a href="#firstPage"><%= link_to 'GHOSTWRITE.IO', root_path, :class => "navbar-brand" %></h3></a>
                           </div> 
                             <div id="navbar" class="navbar-collapse collapse">
                              <ul class="nav navbar-nav navbar-right" id="menu">
                                    <% if user_signed_in? %>
                                     <li><%= link_to "SIGN OUT", destroy_user_session_path, :method => :delete %></li>
                                    <% else %>
                                     <li><%= link_to "LOG IN", new_user_session_path, :remote => true, 'data-toggle' => "modal", 'data-target' => "#ajax-modal", 'data-type' => "html" %></li>
                                    <% end %>
                                  <li data-menuanchor="lastPage"><a href="#lastPage">ABOUT</a></li>
                   				        <li><%= link_to 'BLOG', "/blog" %> </li>
                                  <li><%= link_to 'JUST TO BE SOCIAL', "/which-snl-are-you" %></li> 
                              </ul>
                            </div>
                          </nav><!--/.end nav -->
                       </div>
                    </div><!--/.end clearfix-->
                  </div><!-- end cover-container -->
                 

       
		


	
	         <%= yield %>


    </div><!--end menu-wrapper -->
   </div><!--end site-wrapper-inner -->
 </div><!--end site-wrapper -->


	<%= render 'devise/sessions/new' %>
	<%= render 'devise/registrations/new' %>
   </div> <!-- end wrapper -->
	
	
</body>



</html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59156987-1', 'auto');
  ga('send', 'pageview');

</script>

