
 <!DOCTYPE html>
<html>
<head>
  <title>GhostwriteIo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway', :media => "all" %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Merriweather', :media => "all" %>
  <%= javascript_include_tag 'assets/javascripts/bower_components/typed.js' %>
  <%= javascript_include_tag 'application', "https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>


  
   <div class= 'ghostwrite_body'>
     <a href="/"><%= image_tag "blog-hero.jpg", :class => 'blog' %></a>
      </div>

      <div class = "container">
        <div class="blog-head">
          <h1>Welcome to the Ghostwrite.io blog</h1>
          <h3>Learn how to write a cover letter, networking email, or get a date online with current, credible, and playful posts.</h3>
        </div>
     
     <%= yield %>
      </div>
   </div>


  </body>
</html>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59156987-1', 'auto');
  ga('send', 'pageview');

</script>







        
           