
 <!DOCTYPE html>
<html>
<head>
  <title>GhostwriteIo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway', :media => "all" %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Merriweather', :media => "all" %>
  <%= javascript_include_tag 'assets/javascripts/bower_components/typed.js' %>
  <%= javascript_include_tag 'application', "https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>
  <div class=" navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'Ghostwrite', root_path, :class => 'brand' %> 
          <li class="navbar-text pull-right">
          <% if user_signed_in? %>
           <strong><%= current_user.full_name %></strong> 
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Log In", new_user_session_path, :class => "navbar-link"  %> 
            <% end %>
          </li>

        </ul>
      </div>
    </div>  
  </div>
  
 <div class= 'ghostwrite_body'>
    <div class = "instructions">
      <li><%= image_tag "logo2.png", class: "logo-img-all"%></li>
      <span class = "element"></span>
    </div>
   
   <%= yield %>

 </div>


</body>
</html>







        
           